<html>
<head>
<meta charset="ISO-8859-1">
<title>Contact</title>
<meta charset="utf-8">
<meta name="viewpoint" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="Contact.css">
</head>
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
				<h1>Contact</h1>
				</div>
				<div class="content">
				<h3>New Horizons Foundation</h3>
				<p><br>World Trade Center (Our office has been made available by the CBRE Dutch Office Fund managed by CBRE Global Investors)</br>
                  <br> Strawinskylaan 503, A-tower, 5th floor
                   1077 XX Amsterdam, The Netherlands</br>
                   <br>Email:<a href = " ">info@new_horizons.org</a></br>
                   Phone: +31(0)20 611 76 74

                   IBAN number: NL36ABNA0505107333
                   BIC (Bank Identifier Code/SWIFT address): ABNANL2A
                   Fiscal number (RSIN): 8140.54.1 10
                   
				</p>
			
				<h3>New Horizons Foundation Bangladesh</h3>
				<p><br>1st Floor (Apt A1 & B1)</br>
                  <br> 20/2, Block B</br>
                  <br> Babar Road, Mohammadpur</br>
                   Dhaka-1207, Bangladesh</p>
				
				<div class="button">
				<a href="">Read More</a>
				</div>
				
		</div>
		<div class="image-section">

		
		</div>
		</div>
	</div>
	</div>

</body>
</html>